RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

ErrorDocument 404 "<H1>Error! My young jedi, you should not be here. </H1>"



